node-red-core/flows.json
[
    {
        "id": "c76202b81fd3e5fc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "25760fb5d31ad40d",
        "type": "telegram bot",
        "botname": "antiled",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "addressfamily": "",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "75cc8188a8368282",
        "type": "http in",
        "z": "c76202b81fd3e5fc",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "3a6ad779f24ad5c6",
                "11be3b9912294c98"
            ]
        ]
    },
    {
        "id": "3a6ad779f24ad5c6",
        "type": "debug",
        "z": "c76202b81fd3e5fc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "11be3b9912294c98",
        "type": "http response",
        "z": "c76202b81fd3e5fc",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "b8adb03a2f7506f0",
        "type": "http in",
        "z": "c76202b81fd3e5fc",
        "name": "",
        "url": "/buy-form",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "fc46de09007b4310",
                "d193b73cac8a1405"
            ]
        ]
    },
    {
        "id": "dfe7f9e59ab407fe",
        "type": "telegram sender",
        "z": "c76202b81fd3e5fc",
        "name": "",
        "bot": "25760fb5d31ad40d",
        "haserroroutput": false,
        "outputs": 1,
        "x": 927,
        "y": 379,
        "wires": [
            []
        ]
    },
    {
        "id": "217167fa789e0f2e",
        "type": "function",
        "z": "c76202b81fd3e5fc",
        "name": "function 7",
        "func": "const messageString = 'Имя: '+msg.payload.name+'\\nТелефон: '+msg.payload.tel;\nmsg.payload = {content:messageString, type: 'message', chatId:1577410293};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 737,
        "y": 379,
        "wires": [
            [
                "dfe7f9e59ab407fe"
            ]
        ]
    },
    {
        "id": "fc46de09007b4310",
        "type": "http response",
        "z": "c76202b81fd3e5fc",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 467,
        "y": 419,
        "wires": []
    },
    {
        "id": "d193b73cac8a1405",
        "type": "delay",
        "z": "c76202b81fd3e5fc",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 547,
        "y": 379,
        "wires": [
            [
                "217167fa789e0f2e"
            ],
            []
        ]
    }
]